@keyframes menu_animation_in {
  0% {
    border-radius: 25px;
    transform: rotate(0);
  }
  50% {
    border-radius: 5px;
    transform: rotate(0deg);
  }
  100% {
    border-radius: 5px;
    transform: rotate(90deg);
  }
}
@keyframes menu_animation_out {
  0% {
    border-radius: 5px;
    transform: rotate(90deg);
  }
  50% {
    border-radius: 5px;
    transform: rotate(0deg);
  }
  100% {
    border-radius: 25px;
    transform: rotate(0);
  }
}
@keyframes section_animation_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes section_animation_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade_in_then_out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@font-face {
  font-family: "Futura Book";
  src: url("../font/Futura LT Folder/Futura LT Book.otf") format("opentype");
}
@font-face {
  font-family: "Futura Bold";
  src: url("../font/Futura LT Folder/Futura LT Bold.otf") format("opentype");
}
@font-face {
  font-family: "Futura Light";
  src: url("../font/Futura LT Folder/Futura LT Light.otf") format("opentype");
}
@font-face {
  font-family: "Futura Medium";
  src: url("../font/Futura LT Folder/Futura LT Medium.otf") format("opentype");
}
body {
  font-family: "Futura Book";
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

section {
  position: relative;
  padding: 336px 0;
}

section + nav {
  display: none;
}

.nav {
  opacity: 1;
}

h1 {
  font-size: 10rem;
  margin-bottom: 24px;
  margin-top: 72px;
}

h2 {
  font-size: 8rem;
  margin-top: 24px;
  margin-bottom: 24px;
}

h3 {
  font-size: 3rem;
  margin: 0;
}

b {
  font-family: "Futura Bold";
}

ul {
  margin-top: 80px;
}
ul div {
  display: inline-block;
  width: 18%;
  margin: 0 1%;
  cursor: pointer;
  position: relative;
}
ul div div {
  display: inline-block;
  width: 100%;
  height: 24px;
  background-color: black;
  position: relative;
}
ul div span {
  display: inline-block;
  height: 100px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 2px;
  top: 0px;
  z-index: 0;
  transition: 0.4s linear all;
}

li {
  list-style-type: none;
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 6px;
}

.home, ._home div {
  background-color: #00FFD5;
}

.about, ._about div {
  background-color: #FC08F8;
}

.work, ._work div {
  background-color: #F6FF00;
}

.contact, ._contact div {
  background-color: black;
}

.menu__ball {
  text-align: center;
  display: none !important;
  position: fixed;
  left: 10px;
}
.menu__ball ul {
  padding: 0;
  margin: 0;
}
.menu__ball ul div {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 0;
  text-align: left;
  transition: 0.3s linear all;
}
.menu__ball ul div div {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transition: 0.2s linear all;
  margin: 0 0 0 2px;
  animation: menu_animation_out 0.5s;
  z-index: 0;
}
.menu__ball ul div a {
  position: absolute;
  display: inline-block;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 1;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px black;
  text-decoration: none;
}
.menu__ball ul div a span {
  background-color: transparent;
  display: inline;
  left: -150px;
}
.menu__ball ul div a:hover + div {
  border-radius: 12px;
  width: 150px;
}
.menu__ball ul div a:hover span {
  left: 37px;
}

.menu__bottom {
  display: none !important;
  position: fixed;
  bottom: 0;
  width: 80%;
  background-color: white;
}
.menu__bottom ul {
  margin: 0;
}
.menu__bottom ul li {
  opacity: 0;
  animation: fade_in_then_out 1s;
  animation-delay: 0.4s;
  transition: 0.3s ease all;
}
.menu__bottom ul > div:hover li {
  opacity: 1;
}

.nav__home {
  display: block;
  padding-top: 144px;
}
.nav__home div {
  width: 300px;
  margin: 48px auto;
  margin-bottom: 0;
  position: relative;
}
.nav__home div img {
  width: 125px;
  height: 150px;
}
.nav__home div img + img {
  position: absolute;
  left: 80px;
  height: auto;
  top: 40px;
}

.nav__about p {
  font-size: 3rem;
  margin: 12px 0;
}
.nav__about .skillHeader {
  font-size: 5rem;
}
.nav__about .skillContainer {
  width: 78%;
  margin: 0 auto;
}
.nav__about .skill {
  display: inline-block;
  margin: 12px;
}
.nav__about .skill p {
  width: 100%;
  text-align: center;
  color: black;
  position: relative;
  margin: 0;
  font: 1rem "Futura Bold";
}
.nav__about .ladderFull {
  width: 360px;
  margin-top: 5px;
  background-color: white;
  height: 30px;
  padding: 3px;
  border: 4px solid black;
}
.nav__about .ladderSkill {
  height: 30px;
  background-color: black;
}
.nav__about .HTMLCSS {
  width: 70%;
}
.nav__about .JS {
  width: 70%;
}
.nav__about .PHP {
  width: 60%;
}
.nav__about .CMS {
  width: 60%;
}
.nav__about .PS {
  width: 75%;
}
.nav__about .ILLU {
  width: 65%;
}
.nav__about .PREMIERE {
  width: 65%;
}
.nav__about .MAYA {
  width: 50%;
}

form {
  margin: 0 auto;
  font-size: 2rem;
  font-family: "Futura Bold";
}
form .buttonSubmitForm {
  border: none;
}
form .buttonSubmitForm input {
  width: 50%;
  background-color: white;
  color: black;
  transition: 0.3s all linear;
  border: 4px solid black;
}
form .buttonSubmitForm input:hover {
  color: white;
  background-color: black;
}
form .containerTextContact {
  border: none;
}
form .containerTextContact textarea {
  resize: none;
  font-family: "Futura Book";
  width: 100%;
  cursor: pointer;
}
form .containerTextContact label {
  text-align: left;
  width: 100%;
}

.nav__contact {
  padding-bottom: 0;
}

.nav__work article {
  display: inline-block;
  height: 192px;
  margin: 12px;
  position: relative;
  opacity: 1;
  transition: 0.3s ease all;
}
.nav__work img {
  width: 192px;
  height: 192px;
  transition: 0.2s all linear;
}
.nav__work img + dl {
  display: none;
  text-align: left;
  float: right;
  padding: 0 12px;
  width: 65%;
  font-family: "Futura Book";
  font-size: 1.5rem;
  margin-top: 0;
}
.nav__work img + dl dt {
  font-family: "Futura Bold";
}
.nav__work img + dl dd {
  margin: 0;
  padding-left: 12px;
}
.nav__work img + dl dt, .nav__work img + dl dd {
  display: inline-block;
}
.nav__work img + dl dt.retourChariot {
  display: block;
}
.nav__work img + dl dt.retourChariot + dd {
  padding-left: 0;
}
.nav__work img + dl div {
  display: block;
}
.nav__work div + div {
  display: none;
}
.nav__work div + div p {
  clear: both;
  opacity: 1;
  position: static;
  display: inline-block;
  width: 50%;
  padding: 12px;
  font: 1.5rem "Futura Bold";
  border: 4px solid black;
  cursor: pointer;
}
.nav__work div + div p:hover {
  background-color: black;
  color: white;
}
.nav__work h3, .nav__work p {
  position: absolute;
  left: 12px;
  color: black;
  opacity: 0;
  transition: 0.2s all linear;
}
.nav__work p {
  bottom: 0;
}
.nav__work h3 {
  bottom: 1em;
}
.nav__work .canBeHovered div img {
  width: 192px;
  height: 192px;
}
.nav__work .canBeHovered:hover {
  cursor: pointer;
}
.nav__work .canBeHovered:hover img {
  opacity: 0.4;
}
.nav__work .canBeHovered:hover h3, .nav__work .canBeHovered:hover p {
  opacity: 1;
}
.nav__work .clearFloat {
  clear: both;
  position: static;
  display: none;
}
.nav__work .scoped {
  display: inline-block;
  width: 100%;
  height: auto;
  opacity: 1;
}
.nav__work .scoped dl {
  display: block;
}

.disableWork {
  animation: section_animation_out 0.5s forwards;
}

.toHide {
  position: absolute;
  left: -5000px;
}

.header {
  font-size: 8rem;
  margin: 0;
}

.name {
  font-family: "Futura Bold";
  margin-bottom: 24px;
}

.function {
  font-family: "Futura Light";
  margin: 24px 0;
}

.retourChariot {
  display: block;
}

q {
  font-size: 3rem;
}
q:after, q::before {
  content: "";
}

.messageSend {
  padding: 12px;
  margin-top: 24px;
  border: 4px solid green;
  font-size: 2rem;
  color: green;
}

.nav__work .imgWork {
  float: left;
  width: 30%;
  height: auto;
}

@media screen and (max-width: 1651px) {
  .nav__work > div {
    width: 74%;
    margin: 0 auto;
  }

  .nav__work .canBeHovered {
    width: 168px !important;
    height: 168px !important;
  }
  .nav__work .canBeHovered div img {
    width: 168px !important;
    height: 168px !important;
  }

  .nav__work article.scoped > div {
    width: 100%;
    margin: 0 auto;
  }
  .nav__work article.scoped img {
    float: none;
    display: block;
    width: 100%;
  }
  .nav__work article.scoped dl {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 1535px) {
  h2, .header {
    font-size: 7rem;
  }
}
@media screen and (max-width: 1410px) {
  .nav__about p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1360px) {
  h2, .header {
    font-size: 6.5rem;
  }

  .nav__work > div {
    width: 90%;
  }

  .nav__about .skill {
    width: 45%;
  }
  .nav__about .ladderFull {
    width: 94.5%;
  }
}
@media screen and (max-width: 1202px) {
  h2, .header {
    font-size: 6rem;
  }

  .nav__about p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1151px) {
  h2, .header {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 1151px) {
  .nav__work > div {
    width: 100%;
  }

  h2, .header {
    font-size: 5rem;
  }

  form {
    width: 700px;
  }

  ul div {
    width: 22%;
  }
}
@media screen and (max-width: 980px) {
  .nav__about p {
    font-size: 1.5rem;
  }

  .nav__work .canBeHovered {
    width: 144px !important;
    height: 144px !important;
  }
  .nav__work .canBeHovered div img {
    width: 144px !important;
    height: 144px !important;
  }

  h2, .header {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 865px) {
  h2, .header {
    font-size: 4rem;
  }

  form {
    width: 600px;
  }
  form div label {
    width: 25%;
  }
  form div input {
    width: 74%;
  }

  .nav__about .skill {
    width: 40%;
  }
}
@media screen and (max-width: 780px) {
  h2, .header {
    font-size: 3.5rem;
  }

  .menu__bottom ul li {
    font-size: 1.5rem;
  }

  form {
    width: 100%;
    font-size: 1.5rem;
  }
  form div label {
    width: 30%;
  }
  form div input {
    width: 69%;
  }

  q {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 677px) {
  h2, .header {
    font-size: 3.5rem;
  }

  form div label {
    width: 35%;
  }
  form div input {
    width: 64%;
  }

  q {
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .menu__bottom ul {
    display: none;
  }

  section {
    display: block !important;
    min-width: 440px;
  }
}

/*# sourceMappingURL=main.css.map */
