@keyframes menu_animation_in {
  0% {
    border-radius: 25px;
    transform: rotate(0);
  }
  50% {
    border-radius: 5px;
    transform: rotate(0deg);
  }
  100% {
    border-radius: 5px;
    transform: rotate(90deg);
  }
}
@keyframes menu_animation_out {
  0% {
    border-radius: 5px;
    transform: rotate(90deg);
  }
  50% {
    border-radius: 5px;
    transform: rotate(0deg);
  }
  100% {
    border-radius: 25px;
    transform: rotate(0);
  }
}
@keyframes section_animation_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes section_animation_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade_in_then_out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@font-face {
  font-family: "Futura Book";
  src: url("../font/Futura LT Folder/Futura LT Book.otf") format("opentype");
}
@font-face {
  font-family: "Futura Bold";
  src: url("../font/Futura LT Folder/Futura LT Bold.otf") format("opentype");
}
@font-face {
  font-family: "Futura Light";
  src: url("../font/Futura LT Folder/Futura LT Light.otf") format("opentype");
}
@font-face {
  font-family: "Futura Medium";
  src: url("../font/Futura LT Folder/Futura LT Medium.otf") format("opentype");
}
.nav__work .imgWork {
  float: left;
  width: 30%;
  height: auto;
}

body {
  font-family: "Futura Book";
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}

section {
  position: relative;
  margin: 240px 0;
}

.nav {
  opacity: 1;
}

h1 {
  font-size: 10rem;
  margin-bottom: 24px;
  margin-top: 72px;
}

h2 {
  font-size: 8rem;
  margin-top: 24px;
  margin-bottom: 24px;
}

h3 {
  font-size: 3rem;
  margin: 0;
}

b {
  font-family: "Futura Bold";
}

ul {
  margin-top: 80px;
}
ul div {
  display: inline-block;
  width: 18%;
  margin: 0 1%;
  cursor: pointer;
  position: relative;
}
ul div div {
  display: inline-block;
  width: 100%;
  height: 24px;
  background-color: black;
  position: relative;
}
ul div span {
  display: inline-block;
  height: 100px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 2px;
  top: 0px;
  z-index: 0;
  transition: 0.4s linear all;
}

li {
  list-style-type: none;
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 24px;
}

.home, ._home div {
  background-color: #00FFD5;
}

.about, ._about div {
  background-color: #FC08F8;
}

.work, ._work div {
  background-color: #F6FF00;
}

.contact, ._contact div {
  background-color: black;
}

.menu__ball {
  text-align: center;
  position: relative;
}
.menu__ball ._home {
  top: -48px;
}
.menu__ball ul {
  padding: 0;
}
.menu__ball ul div {
  display: block;
  width: 100%;
  position: absolute;
  top: -350px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.3s linear all;
  top: -150px;
}
.menu__ball ul div div {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transition: 0.2s linear all;
  top: 0;
  margin: 0;
  animation: menu_animation_out 0.5s;
  z-index: 0;
}
.menu__ball ul div li {
  position: absolute;
  display: inline-block;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 1;
}
.menu__ball ul div li:hover + div {
  animation: menu_animation_in 0.5s forwards;
}

.menu__bottom {
  position: fixed;
  bottom: 0;
  width: 80%;
  background-color: white;
}
.menu__bottom ul {
  margin: 0;
}
.menu__bottom ul li {
  opacity: 0;
  animation: fade_in_then_out 1s;
  animation-delay: 1s;
  transition: 0.3s ease all;
}
.menu__bottom ul > div:hover li {
  opacity: 1;
}

.nav__home {
  display: block;
}

.nav__about p {
  font-size: 3rem;
  margin: 12px 0;
}
.nav__about .skillHeader {
  font-size: 5rem;
}
.nav__about .skillContainer {
  width: 60%;
  margin: 0 auto;
}
.nav__about .skill {
  display: inline-block;
  width: 45%;
  padding: 2, 5%;
  margin-bottom: 0;
}
.nav__about .skill h4 {
  width: 90%;
  text-align: center;
  color: #474d5d;
  position: relative;
  margin-bottom: 0;
}
.nav__about .skill h4 span {
  position: absolute;
  right: 0;
}
.nav__about .ladderFull {
  width: 90%;
  margin-top: 5px;
  background-color: #e1e1e3;
  height: 15px;
  border-radius: 7.5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
}
.nav__about .ladderSkill {
  height: 15px;
  border-radius: 7.5px;
  background-color: black;
}
.nav__about .HTMLCSS {
  width: 70%;
}
.nav__about .JS {
  width: 70%;
}
.nav__about .PHP {
  width: 60%;
}
.nav__about .CMS {
  width: 60%;
}
.nav__about .PS {
  width: 75%;
}
.nav__about .ILLU {
  width: 65%;
}
.nav__about .PREMIERE {
  width: 65%;
}
.nav__about .MAYA {
  width: 50%;
}

form {
  width: 60%;
  margin: 0 auto;
  font-size: 2rem;
  font-family: "Futura Bold";
}
form div {
  margin: 24px;
  border-bottom: 4px solid black;
}
form div label {
  display: inline-block;
  width: 20%;
  text-align: left;
  cursor: pointer;
}
form div input {
  width: 79%;
  border: none;
  cursor: pointer;
  outline: none;
}
form .buttonSubmitForm {
  border: none;
}
form .buttonSubmitForm input {
  width: 50%;
  background-color: black;
  color: white;
  transition: 0.3s all linear;
  border: 4px solid black;
}
form .buttonSubmitForm input:hover {
  color: black;
  background-color: white;
}
form .containerTextContact {
  border: none;
}
form .containerTextContact textarea {
  resize: none;
  border: 4px solid black;
  font-family: "Futura Book";
  width: 100%;
  cursor: pointer;
}
form .containerTextContact label {
  text-align: left;
  width: 100%;
}

.nav__work article {
  display: inline-block;
  width: 192px;
  height: 192px;
  margin: 12px;
  position: relative;
  opacity: 1;
  transition: 0.3s ease all;
}
.nav__work img {
  width: 192px;
  height: 192px;
  transition: 0.2s all linear;
}
.nav__work dl {
  display: none;
  text-align: left;
  float: right;
  padding: 12px;
  width: 65%;
  font-family: "Futura Book";
  font-size: 1.5rem;
  margin-top: 0;
}
.nav__work dl dt {
  font-family: "Futura Bold";
}
.nav__work dl dd {
  margin: 0;
  padding-left: 12px;
}
.nav__work dl dt, .nav__work dl dd {
  display: inline-block;
}
.nav__work dl dt.retourChariot {
  display: block;
  margin-top: 12px;
}
.nav__work dl dt.retourChariot + dd {
  padding-left: 0;
}
.nav__work div + div {
  display: none;
}
.nav__work div + div p {
  clear: both;
  opacity: 1;
  position: static;
  display: inline-block;
  width: 10%;
  padding: 12px;
  font: 1.5rem "Futura Bold";
  border: 4px solid black;
  cursor: pointer;
}
.nav__work div + div p:hover {
  background-color: black;
  color: white;
}
.nav__work h3, .nav__work p {
  position: absolute;
  left: 12px;
  color: black;
  opacity: 0;
  transition: 0.2s all linear;
}
.nav__work p {
  bottom: 0;
}
.nav__work h3 {
  bottom: 1em;
}
.nav__work .canBeHovered:hover {
  cursor: pointer;
}
.nav__work .canBeHovered:hover img {
  opacity: 0.4;
}
.nav__work .canBeHovered:hover h3, .nav__work .canBeHovered:hover p {
  opacity: 1;
}
.nav__work .clearFloat {
  clear: both;
  position: static;
  display: none;
}

.disableWork {
  animation: section_animation_out 0.5s forwards;
}

.toHide {
  position: absolute;
  left: -5000px;
}

.header {
  font-size: 10rem;
  margin: 0;
}

.name {
  font-family: "Futura Bold";
  margin-bottom: 24px;
  margin-top: 72px;
}

.function {
  font-family: "Futura Light";
  margin: 24px 0;
}

.retourChariot {
  display: block;
}

q {
  font-size: 3rem;
}
q:after, q::before {
  content: "";
}

.nav__work .scoped {
  display: inline-block;
  width: 100%;
  height: auto;
  opacity: 1;
}
.nav__work .scoped dl {
  display: block;
}

/*# sourceMappingURL=main.css.map */
