@media screen and (max-width: 1651px)

@media screen and (max-width: 1535px)
  h2, .header
    font-size: 7rem
@media screen and (max-width: 1410px)
  .nav__about p
    font-size: 2.5rem
@media screen and (max-width: 1360px)
  h2, .header
    font-size: 6.5rem
  .nav__about
    .skill
      width: 45%
    .ladderFull
      width: 94.5%
@media screen and (max-width: 1202px)
  h2, .header
    font-size: 6rem
  .nav__about p
    font-size: 2rem
@media screen and (max-width: 1151px)
  h2, .header
    font-size: 5.5rem
@media screen and (max-width: 1151px)
  h2, .header
    font-size: 5rem
  form
    width: 700px
  ul div
    width: 22%
@media screen and (max-width: 980px)
  .nav__about p
    font-size: 1.5rem
  h2, .header
    font-size: 4.5rem
@media screen and (max-width: 865px)
  h2, .header
    font-size: 4rem
  form
    width: 600px
    div
      label
        width: 25%
      input
        width: 74%
  .nav__about
    .skill
      width: 40%
@media screen and (max-width:780px)
  h2, .header
    font-size: 3.5rem
  .menu__bottom ul li
    font-size: 1.5rem
  form
    width: 100%
    font-size: 1.5rem
    div
      label
        width: 30%
      input
        width: 69%
  q
    font-size: 2.5rem
@media screen and (max-width:677px)
  h2, .header
    font-size: 3.5rem
  form
    div
      label
        width: 35%
      input
        width: 64%
  q
    font-size: 2rem
  .menu .tabs-style-linemove nav a span
    font-size: 0
  .menu .icon::before
    font-size: 2rem
@media screen and (max-width:600px)
  section
    padding: 12px
@media screen and (max-width:450px)
  .nav__about .skill
    width: 100%
  .nav__about
    top: 0 !important
  div .content
    position: static
  form .input__field--kozakura
    padding: 0
    text-indent: 6px
  form .input
    width: 80%
  div .menu-button
    margin-left: 3px
    font-size: 1em
  .header, h2
    font-size: 2.5rem
  q
    font-size: 1.3rem
  div .card__container--closed .card__caption
    padding-bottom: 6px
@media screen and (max-width:350px)
  div .card__container--closed .card__caption
    display: none
  .header, h2
    font-size: 2.2rem
  div.wrapper h2
    font-size: 1.5rem
